In [1]:
# import required modules
import pandas as pd
import numpy as np

In [2]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
filepath = r'C:\Users\billy\CitiBike_Challenge'
in_file = r'\201908-citibike-tripdata.csv'
out_file = r'\201908-citibike-tripdata_dt.csv'
summary_file = r'\bike_summary.csv'

full_in_file = f'{filepath}{in_file}'
full_out_file = f'{filepath}{out_file}'
full_summary_file = f'{filepath}{summary_file}'

df_trip = pd.read_csv(full_in_file)
df_trip.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [3]:
# 2. Check the datatypes of your columns. 
df_trip.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [4]:
# 3. Convert the 'tripduration' column to datetime datatype.
df_trip['tripduration_dt'] = pd.to_datetime(df_trip['tripduration'],
                                            unit='m')

In [5]:
# Additional column added to be able to filter by number of days instead of just hours
df_trip['totaldays_tripduration'] = (df_trip['tripduration'] / 1440).apply(np.floor).astype(int)

In [6]:
# Preview trip data df
df_trip

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,tripduration_dt,totaldays_tripduration
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2,1970-01-01 06:33:00,0
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2,1970-01-01 10:27:00,0
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1,1970-01-01 18:52:00,0
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1,1970-01-02 05:40:00,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2,1970-01-02 01:17:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2344219,216,2019-08-31 23:59:46.2930,2019-09-01 00:03:23.0360,116.0,W 17 St & 8 Ave,40.741776,-74.001497,509.0,9 Ave & W 22 St,40.745497,-74.001971,38655,Subscriber,1972,1,1970-01-01 03:36:00,0
2344220,117,2019-08-31 23:59:47.7970,2019-09-01 00:01:45.7440,3429.0,Hanson Pl & Ashland Pl,40.685068,-73.977908,353.0,S Portland Ave & Hanson Pl,40.685396,-73.974315,25264,Subscriber,1982,2,1970-01-01 01:57:00,0
2344221,1614,2019-08-31 23:59:48.1560,2019-09-01 00:26:42.7760,387.0,Centre St & Chambers St,40.712733,-74.004607,3440.0,Fulton St & Adams St,40.692418,-73.989495,28485,Customer,1969,0,1970-01-02 02:54:00,1
2344222,1301,2019-08-31 23:59:58.3620,2019-09-01 00:21:39.7040,3168.0,Central Park West & W 85 St,40.784727,-73.969617,423.0,W 54 St & 9 Ave,40.765849,-73.986905,38664,Customer,1969,0,1970-01-01 21:41:00,0
2344223,419,2019-08-31 23:59:59.4520,2019-09-01 00:06:59.0210,447.0,8 Ave & W 52 St,40.763707,-73.985162,529.0,W 42 St & 8 Ave,40.757570,-73.990985,35210,Subscriber,1994,1,1970-01-01 06:59:00,0

In [7]:
# 4. Check the datatypes of your columns. 
df_trip.dtypes

tripduration                        int64
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
tripduration_dt            datetime64[ns]
totaldays_tripduration              int32
dtype: object

In [8]:
# 5. Export the Dataframe as a new CSV file without the index.
df_trip.to_csv(full_out_file,index=False)

In [9]:
# Create summary df for review against Tableau output
df_summary = df_trip.groupby('tripduration').count()[['starttime']].reset_index().rename(columns={'starttime': 'Count'})

In [10]:
# Preview summary df
df_summary

       tripduration  Count
0                61    337
1                62    356
2                63    357
3                64    347
4                65    352
...             ...    ...
12652       2578232      1
12653       2584590      1
12654       2704549      1
12655       3341929      1
12656       3812666      1

[12657 rows x 2 columns]

In [11]:
# Check length of new df
len(df_trip)

2344224

In [12]:
# Check length of summary df
len(df_summary)

12657

In [13]:
# Sort summary df to review values
df_summary.sort_values(by='tripduration', ascending=True, inplace=True)

In [14]:
# Preview summary df output
df_summary

       tripduration  Count
0                61    337
1                62    356
2                63    357
3                64    347
4                65    352
...             ...    ...
12652       2578232      1
12653       2584590      1
12654       2704549      1
12655       3341929      1
12656       3812666      1

[12657 rows x 2 columns]

In [15]:
# Output Summary df for review
df_summary.to_csv(full_summary_file,index=False)

In [16]:
# Sort updated trip data for review
df_trip_sorted = df_trip.sort_values(by='tripduration', ascending=True)

In [17]:
# Preview sort trip df
df_trip_sorted

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,tripduration_dt,totaldays_tripduration
1039366,61,2019-08-14 14:11:36.9610,2019-08-14 14:12:38.2270,465.0,Broadway & W 41 St,40.755136,-73.986580,477.0,W 41 St & 8 Ave,40.756405,-73.990026,27353,Subscriber,1990,1,1970-01-01 01:01:00,0
1660821,61,2019-08-22 17:44:11.3730,2019-08-22 17:45:12.6650,484.0,W 44 St & 5 Ave,40.755003,-73.980144,484.0,W 44 St & 5 Ave,40.755003,-73.980144,18427,Subscriber,1971,2,1970-01-01 01:01:00,0
85253,61,2019-08-01 22:43:03.1730,2019-08-01 22:44:04.6390,471.0,Grand St & Havemeyer St,40.712868,-73.956981,3085.0,Roebling St & N 4 St,40.714690,-73.957390,32114,Subscriber,1993,1,1970-01-01 01:01:00,0
1020825,61,2019-08-14 09:08:02.5540,2019-08-14 09:09:03.6190,435.0,W 21 St & 6 Ave,40.741740,-73.994156,435.0,W 21 St & 6 Ave,40.741740,-73.994156,31788,Subscriber,1961,1,1970-01-01 01:01:00,0
740446,61,2019-08-10 15:50:02.9850,2019-08-10 15:51:04.4250,497.0,E 17 St & Broadway,40.737050,-73.990093,497.0,E 17 St & Broadway,40.737050,-73.990093,26786,Subscriber,1969,1,1970-01-01 01:01:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679106,2578232,2019-08-09 19:34:51.7360,2019-09-08 15:45:23.9810,528.0,2 Ave & E 31 St,40.742909,-73.977061,356.0,Bialystoker Pl & Delancey St,40.716226,-73.982612,19511,Subscriber,1993,2,1974-11-26 10:32:00,1790
667440,2584590,2019-08-09 17:47:28.6360,2019-09-08 15:43:58.9520,501.0,FDR Drive & E 35 St,40.744219,-73.971212,356.0,Bialystoker Pl & Delancey St,40.716226,-73.982612,29036,Subscriber,1983,2,1974-11-30 20:30:00,1794
397609,2704549,2019-08-06 02:43:44.4590,2019-09-06 09:59:33.9580,3511.0,Adam Clayton Powell Blvd & W 115 St,40.802535,-73.953242,3360.0,Amsterdam Ave & W 79 St,40.782939,-73.978652,17947,Customer,1969,0,1975-02-22 03:49:00,1878
385277,3341929,2019-08-05 19:53:13.6550,2019-09-13 12:12:02.9690,3349.0,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3585.0,Union St & Bedford Ave,40.669178,-73.955416,17551,Customer,1995,2,1976-05-09 18:49:00,2320
189706,3812666,2019-08-03 11:31:37.2370,2019-09-16 14:36:03.3340,453.0,W 22 St & 8 Ave,40.744751,-73.999154,3245.0,NYCBS DEPOT - DELANCEY,40.716444,-73.982331,39570,Customer,1996,2,1977-04-01 16:26:00,2647